*{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.wrapper .tpl{
    display: none;
}

.wrapper .clearF::after{
    content: '';
    clear: both;
    display: block;
    overflow:hidden;
}

.wrapper{
    width: 350px; 
    margin:100px auto 0px;
    padding: 10px 5px;
    border: 1px solid #ccc;
}

.wrapper .headSection{
    margin-bottom: 4px;
}

.wrapper .headSection .hot{
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.wrapper .headSection .change{
    float:right;
    font-size: 14px;
    /* font-weight: 400; */
    color: #08f;
    cursor: pointer;      /*小手 */
}

.wrapper .headSection .change::after{
    display:inline-block;
    content:'';
    width: 14px;
    height: 14px;
    background-image: url('./img/change.png');
    background-size:100% 100%;
    background-position-y: 1px;

}
 
.wrapper .showSection .number{
    
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    background-color: #0bf;
}

.wrapper .showSection .message{
    float: right;
    border-bottom: 10px;
}

.wrapper .showSection .message::after{
    content:'';
    display: inline-block;
    width: 15px;
    background-size: 100% 100%;
}
.wrapper .showSection li{
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}


.wrapper .showSection .message.up::after{
    height: 15px;
    background-image: url('./img/up.png');
    background-position-y: 1px;
}

.wrapper .showSection .message.down::after{
    height: 16px;
    background-image: url('./img/down.png');
    background-position-y: 2px;
}